main{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

main > h2, main p{
    text-align: justify;
}

main > h2{
    font-size: 20px;
    margin-top: 20px;
}

main > p{
    font-size: 16px;
    margin-top: 10px;
}

b{
    font-family: 'Poppins-Semibold', sans-serif;
    font-size: 16px;
}

main > h3{
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.tooltip {
    position: fixed;
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
    max-width: 200px;
    height: auto;
  }

.img-legend{
    font-size: 15px;
    color: #694d4d;
    margin-top: 25px;
    width: 75%;
    align-self: center;
    font-style: italic;
}