 :root {
    --primary-color: #251e1e; 
    --on-primary-color: #d12b28;
    --secondary-color: #282828;
    --on-secondary-color: #ee635b;
    --tertiary-color: #231616;
    --on-tertiary-color: #000000;
    --subtitle-color: #d12b28;
    --highlight-color: #ff5722;
    --text-color: #d3d3d3;

    --model-background: #332e2e;
} 

*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--on-primary-color);
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

main{
    width: 75%;
    margin: 0 auto;
    max-width: 950px;
}

h1 {
    text-align: left;
    margin-top: 200px;
    font-size: 64px;
}

.title{
    width: 100%;
    margin: 0 auto;
}

.subtitle{
    width: 100%;
    margin: 200px auto 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.subtitle h2{
    color: var(--subtitle-color);
}

.title h2,h1{
    text-align: left;
}

.title .line{
    height: 1px;
    background-color: var(--subtitle-color);
    width: 300px;
    margin-left: 20px;
}

#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000; 
}

#navbar li {
    list-style: none;
}

#navbar a {
    text-decoration: none;
    color: var(--on-primary-color);
    padding: 10px 20px;
}

#navbar a:hover {
    background-color: var(--on-secondary-color);
}

.highlight{
    color: var(--highlight-color);
}

.biography{
    text-align: justify;
    color: var(--text-color);
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    width: 100%;
    height: 410px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin: 50px 0;
}

.project img{
    height: 100%;
    width: 60%;
    display: block;
    transition: transform 0.25s;
    object-fit: cover;
}

.project img:hover{
    transform: scale(1.01);
    transition: transform 0.25s;
}

.project.odd img{
    float: left;
    margin-right: 10px;
}

.project.even img{
    float: right;
    margin-left: 10px;
}

.project h3{
}

.project .description{
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0;
}

.project .skills{
    color: rgb(107, 107, 107);
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 67.5%;
    height: 100%;
    pointer-events: none;
}

.project.odd .content{
    right: 0;
    align-items: end;
}

.project.even .content{
    left: 0;
    align-items: start;
}

.links{
    display: flex;
    margin-top: 8px;
}

.links a.git{
    mask-image: url("/img/git.svg");
}

.links a.fiverr{
    mask-image: url("/img/fiverr.svg");
}

.links a{
    width: 32px;
    height: 32px;
    pointer-events: all;
    background-color: var(--on-primary-color);
    mask-size: 100%;
    mask-repeat: no-repeat;
}

.mobile-links{
    display: none;
}

.mobile-links a.git{
    mask-image: url("/img/git.svg");
}

.mobile-links a.fiverr{
    mask-image: url("/img/fiverr.svg");
}

.mobile-links a{
    width: 48px;
    height: 48px;
    pointer-events: all;
    background-color: var(--on-primary-color);
    mask-size: 100%;
    mask-repeat: no-repeat;
    margin: 0 20px;
}

.copyright {
    width: 100%;
    color: rgb(137, 137, 137);
    background-color: #333;

    text-align: center;
    padding: 10px 0;
}

.section-title{
    text-align: center;
}

.nav-number{
    display: none;
}

.navbar-element{
    text-align: center;
    font-size: large;
    margin: 20px 0;
}

@media (min-width: 768px) {
    #navbar {
        flex-direction: row;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    #navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 66%;
        height: 100%;
        background-color: var(--tertiary-color);
        flex-direction: column;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.4s;
    }

    #navbar.active {
        transition: transform 0.5s;
        transform: translateX(0);
    }

    #top-bar, #middle-bar, #bottom-bar {
        transition: transform 0.4s;
        transform-origin: center;
    }
    
    .burger-menu.active #top-bar {
        transform: rotate(45deg) translate(0, 6px);
    }
    
    .burger-menu.active #middle-bar {
        opacity: 0;
        transform: translateX(100px);
    }
    
    .burger-menu.active #bottom-bar {
        transform: rotate(-45deg) translate(0, -6px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }

    .nav-number{
        display: inline;
    }

    .project::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 0;
        filter: blur(4px) contrast(0.6);
    }

    .project{
        border: solid;
        height: 300px;
        background-size: cover;
        margin: 50px 0;
    }

    .project>a{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .project .skills{
        color: rgb(19, 19, 19);
    }

    .links{
        display: none;
    }

    .mobile-links{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .pro1::before{
        background-image: url("https://picsum.photos/200");
    }

    .pro2::before{
        background-image: url("https://picsum.photos/200");
    }

    .pro3::before{
        background-image: url("/img/model-pic.png");
    }

    .title .line{
        display: none;
    }

    .content{
        position: relative;
        width: 100%;
        align-items: center;
    }

    .project.odd .content {
        align-items: center;
    }

    .project.even .content {
        align-items: center;
    }

    .skills{
        color: rgb(193, 193, 193);
    }

    .project img{
        display: none;
    }

    .burger-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 48px;
        height: 48px;
        z-index: 1001;
    }

    .burger-menu img {
        width: 100%;
        height: 100%;
    }

    
}
