 :root {
    --primary-color: #f2ebeb; 
    --on-primary-color: #611717;

    --secondary-color: #fffcee;
    --on-secondary-color: #e57ca1;

    --navbar-color: #e2d2cb;
    --on-navbar-color: #611717;
    
    --text1-color: #d12b28;
    
    --text-color: #000000;
    --light-text-color: #dadac8;

    --model-background: #332e2e;
} 

*{
    font-family: "Poppins-Regular", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--on-primary-color);
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

main{
    width: 75%;
    margin: 0 auto;
    max-width: 950px;
}

h1 {
    text-align: left;
    font-size: 64px;
    margin-top: 16px;
}

.title{
    width: 100%;
    margin: 200px auto 50vh auto;
}

.little-bio{
    margin-top: 52px;
}

.subtitle{
    width: 100%;
    margin: 200px auto 45px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.subtitle h2{
    color: var(--text1-color);
}

.title h2,h1{
    text-align: left;
}

.title .line{
    height: 1px;
    background-color: var(--text1-color);
    width: 300px;
    margin-left: 20px;
}

#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000; 
}

#navbar li {
    list-style: none;
}

#navbar a {
    text-decoration: none;
    color: var(--on-primary-color);
    padding: 10px 20px;
}

#navbar a:hover {
    background-color: var(--on-secondary-color);
    border-radius: 4px;
}

.biography-paragraphs{

}

.biography{
    text-align: justify;
    color: var(--on-primary-color);
    font-size: 16px;
    margin-bottom: 16px;
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    width: 100%;
    height: 410px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin: 50px 0;
}

.project .project-image{
    height: 100%;
    width: 60%;
    display: block;
    transition: transform 0.25s;
    object-fit: cover;
    border-radius: 4px;
    filter: blur(1px);
}

.project .project-image:hover{
    transform: scale(1.01);
    transition: transform 0.25s;
}

.project.odd .project-image{
    float: left;
    margin-right: 10px;
}

.project.even .project-image{
    float: right;
    margin-left: 10px;
}

.project .description{
    background-color: #792424b7;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0;
}

.project .skills{
    color: rgb(107, 107, 107);
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 67.5%;
    height: 100%;
    pointer-events: none;
}

.project.odd .content{
    right: 0;
    align-items: end;
}

.project.even .content{
    left: 0;
    align-items: start;
}

.link-image{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.25s;
}

.link-image:hover{
    transform: scale(1.1);
    transition: transform 0.25s;
}

.links{
    display: flex;
    margin-top: 8px;
    gap: 16px;
}

.links a{
    width: 32px;
    height: 32px;
    pointer-events: all;
}

.image-link{
    position: relative;
}

.open-icon{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
}

.mobile-links{
    display: none;
}


.mobile-links a{
    width: 48px;
    height: 48px;
    pointer-events: all;
    margin: 0 20px;
}

.technical{
    font-size: 16px;
    font-style: italic;
    color: #c23535;
}

.defined{
    text-decoration: underline;
}

.copyright {
    width: 100%;
    color: rgb(69, 69, 69);
    background-color: #c6c6c6;

    text-align: center;
    padding: 25px 0;
    margin-top: 50px;
}

.section-title{
    text-align: center;
}

.nav-number{
    display: none;
}

.navbar-element{
    text-align: center;
    font-size: large;
    margin: 20px 0;
}

#contact > .subtitle{
    margin-bottom: 10px;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.first-contact-info{
    width: 40%;
}

.first-contact-info > .contact-name,.social-links{
    width: 140px;
    margin: 10px 0;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links > a, .social-links img{
    width: 32px;
    height: 32px;
}

.contact-name{
    font-weight: bold;
}

.second-contact-info{
    width: 60%;
}

.second-contact-info > p {
    text-align: left;
    margin: 10px 0;
}

.mail{
    text-decoration: underline;
    cursor: pointer;
}

.parallax-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.rectangle {
    position: absolute;
    border-radius: 4px;
    opacity: 0.2;
    transition: transform 0.1s linear;
}

@media (min-width: 768px) {
    #navbar {
        flex-direction: row;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    #navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 66%;
        height: 100%;
        background-color: var(--navbar-color);
        flex-direction: column;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.4s;
    }

    #navbar a{
        color: var(--on-navbar-color);
    }

    #navbar.active {
        transition: transform 0.5s;
        transform: translateX(0);
    }

    #top-bar, #middle-bar, #bottom-bar {
        transition: transform 0.4s;
        transform-origin: center;
    }
    
    .burger-menu.active #top-bar {
        transform: rotate(45deg) translate(0, 6px);
    }
    
    .burger-menu.active #middle-bar {
        opacity: 0;
        transform: translateX(100px);
    }
    
    .burger-menu.active #bottom-bar {
        transform: rotate(-45deg) translate(0, -6px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }

    .nav-number{
        display: inline;
    }

    .project::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 0;
        filter: blur(4px) contrast(0.6);
    }

    .project{
        border: solid;
        height: 300px;
        background-size: cover;
        margin: 50px 0;
    }

    .project>a{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .project .skills{
        color: rgb(19, 19, 19);
    }

    .project-title{
        color: var(--light-text-color);
    }

    .links{
        display: none;
    }

    .mobile-links{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .pro1::before{
        background-image: url("/img/ames_code.png");
    }

    .pro2::before{
        background-image: url("/img/station_code.png");
    }

    .pro3::before{
        background-image: url("/img/model-pic.png");
    }

    .title .line{
        display: none;
    }

    .content{
        position: relative;
        width: 100%;
        align-items: center;
    }

    .project.odd .content {
        align-items: center;
    }

    .project.even .content {
        align-items: center;
    }

    .skills{
        color: rgb(193, 193, 193);
    }

    .project .project-image{
        display: none;
    }

    .burger-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 48px;
        height: 48px;
        z-index: 1001;
    }

    .burger-menu img {
        width: 100%;
        height: 100%;
    }

    .contact-container{
        flex-direction: column;
    }

    .first-contact-info{
        width: 100%;
    }
    
    .second-contact-info{
        width: 100%;
    }
}

@font-face{
    font-family: "Poppins-Black";
    src: url("/fonts/Poppins-Black.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-Bold";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-Light";
    src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-Medium";
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-Regular";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-SemiBold";
    src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-Thin";
    src: url("/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-ThinItalic";
    src: url("/fonts/Poppins-ThinItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-Italic";
    src: url("/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-LightItalic";
    src: url("/fonts/Poppins-LightItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-MediumItalic";
    src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-RegularItalic";
    src: url("/fonts/Poppins-RegularItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-SemiBoldItalic";
    src: url("/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-BoldItalic";
    src: url("/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-BlackItalic";
    src: url("/fonts/Poppins-BlackItalic.ttf") format("truetype");
}

@font-face{
    font-family: "Poppins-ThinItalic";
    src: url("/fonts/Poppins-ThinItalic.ttf") format("truetype");
}
